[package]
name = "mdminecraft-camera"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
glam = { workspace = true }
mdminecraft-math4d = { path = "../math4d" }
